<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAH_cJyAvdU7zE1FL1F91RtujgSjtDcHS0</string>
	<key>GCM_SENDER_ID</key>
	<string>288629209069</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.financeTracker</string>
	<key>PROJECT_ID</key>
	<string>expensetracker007-b6780</string>
	<key>STORAGE_BUCKET</key>
	<string>expensetracker007-b6780.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:288629209069:ios:b7c211682ce924391cd9e4</string>
</dict>
</plist>